{% extends 'base.html' %}
{% block content %}
  

<div style="margin: 10px; text-align: center;">
	<span class="task navbar-brand" style=" font-weight: 500; font-size: 20px; "><i class="fa fa-trash"
			style=" color: #690061;"></i> Delete Tasks</span>
</div>
<div style="text-align: center" class="center-column">
<p>Are you sure you want to delete <span style="color:red"> "{{item}}"</span>?</p>


<form method="POST" action="">
	{% csrf_token %}
	<input class="btn btn-danger" type="submit" name="Confirm" value="Yes, Delete">
</form>
<a href="{% url 'index' %}" style="text-decoration: none;" >Cancel</a>
</div>
{% endblock content %}