{% extends 'base.html' %}
{% block content %}
	<div style="margin: 10px; text-align: center;">
	  <span class="task navbar-brand" style=" font-weight: 500; font-size: 20px; "><i class="fas fa-tasks" style=" color: #690061;"></i> All Tasks</span>
					</div>
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content " >
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Add Task</h5>
				<button type="button" style="color: crimson; background: none; border: none;" class="close"
					data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="" method="POST">
					{% csrf_token %}
					{{form.title}}
					{{form.due}}
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" name="Create Task">Save</button>
					</div>
				</form>
					</div>

					</div>
				</div>
			</div>
		<div id="content">
				<div class="container"  >
				<div class="row" >
			<div class="col-md-12">
				<section class="" style="">
					<h6 class="today">
						Today
						<hr>
					</h6>
					{% for task in tasks %}
					<div class="todo" style="font-size: 15px; margin-top: 1rem">
						<div class="left_items" style="float: left;">
						{% if task.complete == True %}
							<p style="color: black; "><strike>{{task}}</strike></p>
						{% else %}
						<p style="color: black; ">{{task}}</p>
						{% endif %}
						</div>
						<div class="right_items" style="float: right; display: flex; align-items: center;">
							<span class="timer" style="color: #fff; margin-right: 5px;"><b>Due: </b>{{task.due|timeuntil}}</span>
							<a href="{% url 'update' task.id %}" style="color: white"><button class="btn btn-info" style="margin-right: 10px; color: white"><i
										class="fas fa-edit"></i></button></a>
							<a href="{% url 'delete' task.id %}"><button class="btn btn-danger">
								<i class="fas fa-trash"
										style="color: white;"></i>
							</button></a>
						</div>
						<div style="clear: both;"></div>
					</div>
					{% empty %}
					<div class="todo" style="font-size: 15px; margin-top: 1rem">
						<div class="left_items" style="float: left;">
							<p style="color: black; ">No task added for today</p>
						</div>
						<div style="clear: both;"></div>
					</div>
					{% endfor %}
					<div class="add" style="margin-top: 0.5rem;">
						<button class="d_btn" style="background-color: white; border: none;" data-toggle="modal"
							data-target="#exampleModalCenter">
							<a class="l_btns" style="background-color: white; color: green; text-decoration: none;" href="#"><i
									class="fas fa-plus" style=" color: crimson; margin-right: 5px;;"></i>Add new task</a>
						</button>
					</div>
				</section>
			</div>
					</div>
			</div>
	</div>
{% endblock content %}
