{% extends 'base.html' %}
{% block content %}
<div style="margin: 10px; text-align: center;">
  <span class="task navbar-brand" style=" font-weight: 500; font-size: 20px; "><i class="fa fa-pencil"
      style=" color: #690061;"></i> Update Tasks</span>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Task</h5>
        <button type="button" style="color: crimson; background: none; border: none;" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/" method="POST">
          {% csrf_token %}
          {{form.title}}
          {{form.due}}
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" name="Create Task">Save</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<div style="text-align: center" class="center-column">
<form method="POST" action="">
	{% csrf_token %}
  {{form.title}}
  {{form.due}}
<p style="margin-top: 0; margin-bottom: -5px;"> Complete</p>
  {{form.complete}}
	<p><input class="btn btn-info col-3" type="submit" name="Update Task"> </p>
</form>

<a href="{% url 'index' %}" style="text-decoration: none;" > <i class="fa fa-arrow-left" aria-hidden="true"></i>
<p> Go back</a></p>
</div>
{% endblock content %}

<script>
    $(document).ready(function(){
      var date_input=$('input[name="due"]'); 
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        dateFormat: 'yy-mm-dd',
      };
      date_input.datepicker(options);
    })
</script>
