@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input::placeholder {
  color: #d3d3d3;
}

.submit {
  background-color: #6ba3e8;
}

.center-column {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 6px 2px 30px 0px rgba(0, 0, 0, 0.75);
}

.item-row {
  background-color: rgb(41, 67, 171);
  margin: 10px;
  padding: 20px;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  box-shadow: 0px -1px 10px -4px rgba(0, 0, 0, 0.75);
}

.btn-info {
  color: white;
}

nav h4 a {
  font-weight: 500;
  text-decoration: none;
  color: white;
}
nav h4 a:hover {
  color: rgb(204, 218, 241);
}
.timer {
  background-color: #690061;
  border-radius: 5px;
  padding: 10px;
}
footer {
  background: #690061;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer span a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
footer span a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .center-column {
    max-width: 300px;
  }

  .item-row {
    position: relative;
    margin: 10px;
    margin-bottom: 30px;
    padding: 20px;
  }

  .timer {
    display: block;
    border-radius: 5px;
    padding: 4px;
  }
  .home {
    display: none;
  }
  .content .left_items i {
    font-size: 14px;
  }
  .content .left_items a {
    font-size: 14px;
  }
  .l_btn,
  .r_btn {
    font-size: 12px;
  }
}
input[type="checkbox"] {
  /* border: 1px solid var(--clr-grey-9); */
  width: 1.75rem;
  height: 1.75rem;
  text-align: center;
}
